<div class="container-fluid">
  <div class="row p-3 bg-secondary-subtle vh-100">
    <div class="col-12 h-100 bg-white" style="border-radius: 5px">
      <div class="row d-flex h-100">
        <div
          class="h-100"
          style="border-right: 1px solid rgb(230, 230, 230); width: 100px"
        >
          <app-default-sidebar />
        </div>
        <div
          class="g-0 overflow-y-auto"
          style="width: calc(100% - 100px); height: calc(100%)"
        >
        <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
