<div class="sidebar-root p-0 m-0 w-100 h-100 p-2">
  <div class="col-12 h-100">
    <ul class="nav-list-root text-center">
      <li>
        <a class="bi bi-grid">
        </a>
      </li>
      <li>
        <a class="bi bi-currency-dollar">
        </a>
      </li>
      <li>
        <a class="bi bi-person-arms-up">
        </a>
      </li>
      <li>
        <a class="bi bi-file-arrow-down">
        </a>
      </li>
      <li>
        <a class="bi bi-wrench">
        </a>
      </li>
    </ul>
  </div>
</div>
